<section class="bg-light-blue">
    <div class="container">
        <div class="hero">
            <header>
                <h1 class="pdsl-blue text-uppercase">Background</h1>
                <p class="fw-bold">
                    Exploration for oil and gas, in Sierra Leone,
                    started in the mid 1980's, with two wildcat
                    exploration wells drilled by Mobil [Mobil Al]
                    and Amoco [Amoco A1-2] in 1984 and 1985,
                    respectively.
                </p>
            </header>
        </div>
    </div>
</section>