/* Banner Start */

.hero {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100vw;
    background-image: url(/assets/home/hero-vector.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.hero header {
    width: 100vw;
    box-sizing: border-box;
    text-align: center;
    padding: 1rem 1.5rem;
    background-color: rgba(247, 249, 250, 0.9);
    overflow: hidden;
}

.hero header h1 {
    font-size: 1.5rem;
    letter-spacing: 0.95rem;
    padding: 0;
    margin: 0;
    border: none;
}

@media screen and (min-width: 576px) {
    .hero {
        height: 30rem;
    }
}

@media screen and (min-width: 768px) {
    .hero {
        height: 20rem;
        background-position: right bottom;
    }

    .hero header {
        width: 22rem;
        background-color: unset;
    }

    .hero header h1 {
        letter-spacing: 0.9rem;
    }

    .hero header p {
        font-size: 0.9rem;
        line-height: 1.5rem;
        text-align: justify;
    }
}

@media screen and (min-width: 992px) {
    .hero {
        height: 30rem;
    }
}

@media screen and (min-width: 1200px) {
    .hero {
        height: 40rem;
    }
}

@media screen and (min-width: 1400px) {
    .hero {
        height: 45rem;
    }

    .hero header {
        width: 32rem;
    }

    .hero header h1 {
        font-size: 2.5rem;
        letter-spacing: 1.2rem;
    }

    .hero header p {
        font-size: 1.3rem;
        line-height: 2.5rem;
    }
}
/* Banner End */