<section class="container-fluid bkg-light-bluish">
    <div class="hero container">
        <div class="row">
            <div class="col-md-4">
                <div class="hero-header bkg-light-bluish">
                    <h1>Background</h1>
                    <p>
                        Exploration for oil and gas, in Sierra Leone,
                        started in the mid 1980's, with two wildcat
                        exploration wells drilled by Mobil [Mobil Al]
                        and Amoco [Amoco A1-2] in 1984 and 1985,
                        respectively
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pt-5 pb-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="/assets/home/oil-exploration.jpg" class="card-img-top" alt="Exploration">
                    <div class="card-body">
                        <h5 class="card-title text-center pdsl-blue"><strong>Exploration</strong></h5>
                        <p class="card-text text-center">
                            We provide tools that support your exploration of our wells, enable your activities, and
                            broaden your discoveries.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="/assets/home/operations.jpg" class="card-img-top" alt="Operations">
                    <div class="card-body">
                        <h5 class="card-title text-center pdsl-blue"><strong>Operations</strong></h5>
                        <p class="card-text text-center">
                            Navigate to this section to familiarize yourself with our department, staff, polices, services as well our procurement practices.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="/assets/home/data.jpg" class="card-img-top" alt="Data">
                    <div class="card-body">
                        <h5 class="card-title text-center pdsl-blue"><strong>Data</strong></h5>
                        <p class="card-text text-center">
                            We provide an opportunity for you to consume our data on offshore waters, licensing open, frame work blocks, and many more.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="/assets/home/regulations.jpg" class="card-img-top" alt="Regulations">
                    <div class="card-body">
                        <h5 class="card-title text-center pdsl-blue"><strong>Regulations</strong></h5>
                        <p class="card-text text-center">
                            You can navigate here to review our principles, legal framework and state organizations. We have ensured each is business-friendly.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>