.hero {
  display: flex;
  min-height: 100vh;
  background-image: url(/assets/home/hero-vector.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  align-items: center;
}

.hero-header {
  margin: 0;
  box-sizing: border-box;
  padding: 1rem 2rem;
  text-align: center;
  background-color:#F7F9FA;
}

.hero-header h1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-family: 'Segoe UI Black', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  color: #01579B;
  letter-spacing: 0.06vw;
}

.hero-header p {
  color: #374649;
  text-align: justify;
}

.bkg-light-bluish {
  background-color: #F7F9FA;
}

.card img {
    height: 12.5rem;
}

.card h5 {
    margin: 1rem;
}

.card {
  box-shadow: 2px 2px 4px #bbb;
}

.staff-thumbnail {
  margin-bottom: 0.5rem;
}

.dg-thumbnail {
  width: 200px;
  height: 200px;
}

.staff-label {
  font-weight: bold;
  font-size: 1rem;
  display: block;
  margin-bottom: 0.5rem;
  color: #01579B;
}