<section class="bg-light-blue">
    <div class="container">
        <div class="hero">
            <header>
                <h1 class="pdsl-blue text-uppercase">Background</h1>
                <p class="fw-bold">
                    Exploration for oil and gas, in Sierra Leone,
                    started in the mid 1980's, with two wildcat
                    exploration wells drilled by Mobil [Mobil Al]
                    and Amoco [Amoco A1-2] in 1984 and 1985,
                    respectively.
                </p>
            </header>
        </div>
    </div>
</section>
<section class="bg-light pt-5 pb-5">
    <div class="container">
        <div class="row row-cols-auto row-cols-sm-1 row-cols-md-2 row-cols-lg-4 g-4">
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <img src="/assets/home/oil-exploration.jpg" class="card-img-top img-fluid" alt="Exploration">
                    <div class="card-body">
                        <h5 class="card-title text-center pdsl-blue"><strong>Exploration</strong></h5>
                        <p class="card-text text-center">
                            We provide tools that support your exploration of our wells, enable your activities, and
                            broaden your discoveries.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <img src="/assets/home/operations.jpg" class="card-img-top" alt="Operations">
                    <div class="card-body">
                        <h5 class="card-title text-center pdsl-blue"><strong>Operations</strong></h5>
                        <p class="card-text text-center">
                            Navigate to this section to familiarize yourself with our department, staff, polices,
                            services as well our procurement practices.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <img src="/assets/home/data.jpg" class="card-img-top" alt="Data">
                    <div class="card-body">
                        <h5 class="card-title text-center pdsl-blue"><strong>Data</strong></h5>
                        <p class="card-text text-center">
                            We provide an opportunity for you to consume our data on offshore waters, licensing open,
                            frame work blocks, and many more.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <img src="/assets/home/regulations.jpg" class="card-img-top" alt="Regulations">
                    <div class="card-body">
                        <h5 class="card-title text-center pdsl-blue"><strong>Regulations</strong></h5>
                        <p class="card-text text-center">
                            You can navigate here to review our principles, legal framework and state organizations. We
                            have ensured each is business-friendly.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-light-blue pt-5 pb-5">
    <div class="container">
        <div class="text-center p-2">
            <img class="rounded-circle dg-thumbnail mb-2"
                 src="/assets/home/dg-message.jpg"
                 alt="DG's Message Profile">
            <div>
                <a class="dg-name fw-bold pdsl-blue" [routerLink]="['/about', 1]" title="View Profile">
                    Foday Mansaray
                </a>
                <span class="dg-hyphen">&nbsp;-&nbsp;</span>
                <span class="dg-title pdsl-blue mb-4">
                    Director General
                </span>
            </div>
            <p class="lead mt-2">
                The Republic of Sierra Leone is strategically placed on the African continental shelf, signaling
                excellent potential for the exploration of oil and gas in the country. With recent discoveries along the
                Equatorial Atlantic Margin, these are exciting times for the Petroleum Directorate of Sierra Leone in
                our mission to opening our shores to deepwater exploration.
            </p>
            <p class="lead mt-2">
                Sierra Leone is moving with great resolve and determination on the road of development and prosperity under
                the Medium-Term National Development Plan (MTNDP). In line with the MTNDP, the oil and gas sector will play
                an essential role in transforming Sierra Leone, driving the country’s economic development and growth.
            </p>
            <p class="lead mt-2">
                At its core, the Petroleum Directorate is mandated to lead the process of unlocking and realizing the country’s
                petroleum resource potential, as well as transforming its growth agenda through the sustainable development of
                the oil and gas sector- a position we constantly strive to maintain. Our principal duty is to regulate the
                exploration and production of affordable, reliable, and cleaner energy in Sierra Leone.
            </p>
            <p class="lead mt-2">
                To achieve this mandate, our vision is to transform the country’s oil and gas sector in a responsible manner
                that prioritizes safety, respect for communities and the environment. In our mission, we will conduct business
                with honesty, integrity, and transparency. We place great importance on implementing judicious governance and
                compliance practices.
            </p>
            <p class="lead mt-2">
                Since its inception in 2003, the Petroleum Directorate has continually strengthened its capacity by improving
                internal processes and acquiring technically skilled professionals. With a focus on pursuing the right partnerships
                and opportunities, as well as utilizing robust fiscal stewardship practices, we have successfully navigated and
                adapted through challenging times within the global oil and gas industry.
            </p>
            <p class="lead mt-2">
                With an enthusiastic outlook for the future, we will continue to build a top-tier team with all the industry
                requisites, pursue innovative ways to maximize the value of our resources, form mutually beneficial partnerships,
                and drive in-country value to ensure that Sierra Leone harnesses its full oil and gas potential.
            </p>
            <p class="lead mt-2">
                The Petroleum Directorate is tenaciously committed for Sierra Leone to become a leading producer of oil and gas
                operating with a high level of performance in the exploration, development, production, and distribution of oil
                and gas-related services.
            </p>
            <p class="lead mt-2">
                We welcome prospective partners to join us in this dynamic endeavor.
            </p>
        </div>
    </div>
</section>
<section class="pt-5 pb-5">
    <div class="container">
        <div class="text-center partners">
            <h1 class="pdsl-blue pb-2 mb-2">Our Partners</h1>
            <div>
                <img src="/assets/home/tgs.jpg" class="m-4 shadow-sm" alt="TGS">
                <img src="/assets/home/geo-partners.jpg" class="m-4 shadow-sm" alt="Geo Partners">
            </div>
        </div>
    </div>
</section>