<section class="pt-5 pb-5 bg-light-blue">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1 class="pdsl-blue mb-4">5th Licensing Round</h1>
                <div *ngIf="!identityVerified">
                    <p *ngIf="!identityFormSubmitted"
                       id="identityRequestText"
                       class="text-center lead">
                        We work daily to ensure you get all the information you need to place a bid or apply for a license.
                        To access information on the licensing and bidding process, we are asking that you verify yourself and
                        your organization by providing us the following verifiable information:
                    </p>
                    <p *ngIf="identityFormSubmitted"
                       id="identityVerificationText"
                       class="text-center lead">
                        To verify your information, please enter the code we sent to the email you provided earlier:
                    </p>
                    <div class="card">
                        <div class="card-body">
                            <div *ngIf="!identityFormSubmitted"
                                 id="identitySubmitssionForm">
                                <form novalidate >
                                    <div class="row">
                                        <div class="col-md-4 text-start mb-3">
                                            <label for="user"
                                                   class="form-label">Full Name</label>
                                            <input type="text"
                                                   class="form-control"
                                                   id="user"
                                                   title="Please enter your full name"
                                                   required
                                                   placeholder="Please enter your full name"
                                                   name="user">
                                        </div>
                                        <div class="col-md-4 text-start mb-3">
                                            <label for="user"
                                                   class="form-label">Organization</label>
                                            <input type="text"
                                                   class="form-control"
                                                   id="organization"
                                                   title="Please enter your organization's name"
                                                   required
                                                   placeholder="Please enter your organization's name"
                                                   name="organization">
                                        </div>
                                        <div class="col-md-4 text-start mb-3">
                                            <label for="user"
                                                   class="form-label">Email</label>
                                            <input type="text"
                                                   class="form-control"
                                                   id="organization"
                                                   title="Please enter your email address at your organization"
                                                   required
                                                   placeholder="Please enter your email address"
                                                   name="organization">
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 text-start mb-3">
                                                <button type="submit"
                                                        class="btn btn-primary">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div *ngIf="identityFormSubmitted"
                                 id="identityVerificationForm">
                                <form class="d-flex justify-content-center">
                                    <div>
                                        <div class="form-group">
                                            <label for="verificationCode"
                                                   class="form-label">Verification Code</label>
                                            <input type="number"
                                                   required
                                                   name="verificationCode"
                                                   id="verificationCode"
                                                   class="form-control">
                                            <button type="submit"
                                                    class="btn btn-primary mt-3">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="identityVerified">
                    <p class="text-center lead text-success">
                        <span class="fw-bold">Thank you introducing yourself to us!</span> <br>
                        We will connect with you soon to ensure the process is smooth for you.
                        In the meantime, please view the relevant documents below:
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pt-5 pb-5">
    <div class="container">

    </div>
</section>