<section class="pt-5 pb-5 bg-light-blue">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1 class="pdsl-blue mb-4">5th Licensing Round</h1>
                <div *ngIf="!identityVerified">
                    <p *ngIf="!identityFormSubmitted"
                       id="identityRequestText"
                       class="text-center lead">
                        We work daily to ensure you get all the information you need to place a bid or apply for a license.
                        To access information on the licensing and bidding process, we are asking that you verify yourself and
                        your organization by providing us the following verifiable information:
                    </p>
                    <p *ngIf="identityFormSubmitted"
                       id="identityVerificationText"
                       class="text-center lead">
                        To verify your information, please enter the code we sent to the email you provided earlier:
                    </p>
                    <div class="card">
                        <div class="card-body">
                            <pdsl-identity-submission-form *ngIf="!identityFormSubmitted"
                                                           (identityFormSubmitted)="onIdentitySubmitted($event)"></pdsl-identity-submission-form>
                            <pdsl-code-verification-form (identityVerified)="onIdentityVerified($event)"
                                                         [identityFormSubmitted]="identityFormSubmitted">
                            </pdsl-code-verification-form>
                        </div>
                    </div>
                </div>
                <div *ngIf="identityVerified">
                    <p class="text-center lead text-success">
                        <span class="fw-bold">Thank you for introducing yourself to us!</span> <br>
                        We will connect with you soon to ensure the process is smooth for you.
                        In the meantime, please view the relevant documents below:
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pt-5 pb-5">
    <div class="container">

    </div>
</section>