header {
    text-align: center;
}

header > div > h2 {
    font-weight: 100;
    margin-top: 1rem;
}

header > div > p {
    font-weight: 400;
}

.profile-text {
    text-align: center;
    line-height: 1.5rem;
}

header > img {
    max-width: 100%;
}

@media screen and (min-width: 576px) {
    header > img {
        max-width: 50%;
    }

    header > div > h2 {
        font-size: 2rem;
    }

    header > div > p {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 768px) {

    .container {
        padding: 0 3rem;
    }

    header {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
    }

    header > img {
        max-width: 20%;
    }

    header > div {
        text-align: left;
        margin-left: 2rem;
    }

    .profile-text {
        text-align: left;
        line-height: 2rem;

    }
}