<section class="bg-light-blue pt-5 pb-5">
    <div class="container bg-light shadow-sm">
        <header class="pt-5 px-3">
            <img [src]="staff.profileImagePath" class="rounded-circle" alt="Foday Mansaray">
            <div>
                <h2>
                    {{staff.name}}<small *ngIf="staff.accolades">, {{staff.accolades}}</small>
                </h2>
                <p [innerText]="staff.title"></p>
            </div>
        </header>
        <div class="row pb-5">
            <div class="col-md-12" *ngIf="staff.bio">
                <div class="profile-text px-4">
                    <p *ngFor="let paragraph of staff.bio" [innerText]="paragraph.text"></p>
                </div>
            </div>
        </div>
    </div>
</section>