<section class="pt-5 pb-5 bg-light-blue">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1 class="pdsl-blue mb-4">Application Documents</h1>
                <p class="text-center lead">
                    As an institution that prides itself on transparency and expediency, we have streamlined our application process to
                    include only steps that are absolutely necessary. We also make ourselves available, to you, throughout
                    the application process. In the documents below, you will find everything you need to start and complete the process.
                </p>
                <p class="text-center lead">
                    To get started, simply download the documents below:
                </p>
            </div>
        </div>
    </div>
</section>
<section class="pt-5 pb-5">
    <div class="container">
        <div class="d-flex flex-wrap">
            <a href="/assets/regulations/1 Pre-Qualification Guidelines For Investors.pdf" target="_blank" class="btn btn-primary flex-fill m-2">1. Pre-Qualification Guidelines For Investors</a>
            <a href="/assets/regulations/2 Guidelines For Investors.pdf" target="_blank" class="btn btn-primary flex-fill m-2">2. Guidelines For Investors</a>
            <a href="/assets/regulations/3 Section A.doc" target="_blank" class="btn btn-primary flex-fill m-2">3. Section A</a>
            <a href="/assets/regulations/4 Section B.doc" target="_blank" class="btn btn-primary flex-fill m-2">4. Section B</a>
            <a href="/assets/regulations/5 Section C.doc" target="_blank" class="btn btn-primary flex-fill m-2">5. Section C</a>
            <a href="/assets/regulations/6 Section D.doc" target="_blank" class="btn btn-primary flex-fill m-2">6. Section D</a>
            <a href="/assets/regulations/7 Negotiation TermSheet.doc" target="_blank" class="btn btn-primary flex-fill m-2">7. Negotiation TermSheet</a>
            <a href="/assets/regulations/8 PEPA 2011.pdf" target="_blank" class="btn btn-primary flex-fill m-2">8. PEPA 2011</a>
            <a href="/assets/regulations/9 Petroleum Policy 2010.pdf" target="_blank" class="btn btn-primary flex-fill m-2">9. Petroleum Policy 2010</a>
            <a href="/assets/regulations/10 EIRA 2018.pdf" target="_blank" class="btn btn-primary flex-fill m-2">10. EIRA 2018</a>
            <a href="/assets/regulations/11 EPA 2008.pdf" target="_blank" class="btn btn-primary flex-fill m-2">11. EPA 2008</a>
            <a href="/assets/regulations/12 Finance Act 2020.pdf" target="_blank" class="btn btn-primary flex-fill m-2">12. Finance Act 2020</a>
            <a href="/assets/regulations/13 Public Finance Management Act 2016.pdf" target="_blank" class="btn btn-primary flex-fill m-2">13. Public Finance Management Act 2016</a>
            <a href="/assets/regulations/14 Data Room Rules.pdf" target="_blank" class="btn btn-primary flex-fill m-2">14. Data Room Rules</a>
            <a href="/assets/regulations/15 Model Petroleum Agreement.pdf" target="_blank" class="btn btn-primary flex-fill m-2">15. Model Petroleum Agreement</a>
            <a href="/assets/regulations/16 Model Reconnaissance Contract.pdf" target="_blank" class="btn btn-primary flex-fill m-2">16. Model Reconnaissance Contract</a>
        </div>
    </div>
</section>