<section class="pt-5 pb-5 bg-light-blue">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1 class="pdsl-blue mb-4">Application Documents</h1>
                <p class="text-center lead">
                    As an institution that prides itself on transparency and expediency,
                    we have streamlined our application process to include only steps that are
                    absolutely necessary.
                    We also make ourselves available, to you, throughout the application process.
                    For application documents for 5th licensing round, please visit the
                    <a [routerLink]="['/licensing']" routerLinkActive="active"
                       [routerLinkActiveOptions]="{exact: true}">Licensing</a> page.
                </p>
                <p class="text-center lead">
                    To get started, please download and review our policy documents below:
                </p>
            </div>
        </div>
    </div>
</section>
<section class="pt-5 pb-5">
    <div class="container">
        <div class="d-flex flex-wrap">
            <a href="/assets/applications/8 PEPA 2011.pdf" target="_blank" class="btn btn-primary flex-fill m-2">PEPA 2011</a>
            <a href="/assets/applications/9 Petroleum Policy 2010.pdf" target="_blank" class="btn btn-primary flex-fill m-2">Petroleum Policy 2010</a>
        </div>
    </div>
</section>