@import url("~@fortawesome/fontawesome-free/css/all.min.css");

html {
    font-size: 1rem;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg-light {
    background-color: transparent !important;
}

.pdsl-blue {
    color: #01579B;
}

h1 {
  font-size: 2rem;
  font-family: 'Segoe UI Black', Tahoma, Geneva, Verdana, sans-serif;
  display: inline-block;
  border-bottom: solid 0.3125rem #01579b;
  padding: 0;
  margin: 0;
}

.b-0 {
  border: none;
}

.bg-light-blue {
  background-color: #F7F9FA;
}