<section class="hero">
    <header class="container">
        <h1 class="pb-2">Regulations</h1>
    </header>
</section>
<section class="pt-5 pb-5 bg-light-blue">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1 class="pdsl-blue mb-4">Document Downloads</h1>
            </div>
        </div>
        <div class="row row-cols-auto row-cols-sm-1 row-cols-md-2 row-cols-lg-4 g-4">
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <header class="rounded-top">
                        <a href="/assets/regulations/PEPA-2011-07.pdf" target="_blank" class="stretched-link">
                            <img src="/assets/regulations/download-solid.svg" alt="Download logo">
                        </a>
                    </header>
                    <div class="card-body text-center">
                        <h5 class="card-title pdsl-blue">
                            <strong>
                                The Petroleum (Exploration & Production) Act, 2011
                            </strong>
                        </h5>
                        <p class="card-text m-4">
                            Being an act to provide for the management of petroleum operations, to regulate and promote
                            petroleum exploration, development and
                            production; to regulate the licensing and participation of commercial entities in petroleum
                            operations; to provide for proper
                            supervision of petroleum operations, to promote the participation of Sierra Leone in the
                            petroleum industry.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <header class="rounded-top">
                        <a href="/assets/regulations/Sierra_Leone_Data_Catalogue.pdf" target="_blank"
                            class="stretched-link">
                            <img src="/assets/regulations/download-solid.svg" alt="Download logo">
                        </a>
                    </header>
                    <div class="card-body text-center">
                        <h5 class="card-title pdsl-blue">
                            <strong>
                                Data Catalogue
                            </strong>
                        </h5>
                        <p class="card-text m-4">
                            The Data Catalogue provides details of the released technical data available for potential
                            investors to license. All released data is
                            available, subject to the signing of a Licensing Agreement with the Petroleum Directorate or
                            our partner, Getech Group Plc.
                        </p>
                        <p class="card-text mb-4">
                            Click on the icon to download a copy of the Data Catalogue
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <header class="rounded-top">
                        <a href="/assets/regulations/PDSL-SL-Data-Room-Rules-3-REVISED.pdf" target="_blank"
                            class="stretched-link">
                            <img src="/assets/regulations/download-solid.svg" alt="Download logo">
                        </a>
                    </header>
                    <div class="card-body text-center">
                        <h5 class="card-title pdsl-blue">
                            <strong>
                                The Sierra Leone Data Room Rules
                            </strong>
                        </h5>
                        <p class="card-text m-4">
                            The Petroleum Directorate Sierra Leone (PDSL) will make available via a Data Room technical
                            data packages including
                            well data, seismic data and technical reports relating to, and in preparation for, future
                            investment opportunities
                            in Sierra Leone.
                        </p>
                        <p class="card-text text-center mb-4">
                            Click on the icon to download a copy of the Data Catalogue
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <header class="rounded-top">
                        <a href="/assets/regulations/PDSL-London-Data-Room-Rules-200619.pdf" target="_blank"
                            class="stretched-link">
                            <img src="/assets/regulations/download-solid.svg" alt="Download logo">
                        </a>
                    </header>
                    <div class="card-body">
                        <h5 class="card-title text-center pdsl-blue">
                            <strong>
                                The London PDSL Data Room Rules
                            </strong>
                        </h5>
                        <p class="card-text text-center m-4">
                            Getech Group, on behalf of the Petroleum Directorate Sierra Leone (PDSL), will make
                            available via a London Data Room
                            technical data packages including well data, seismic data, and technical reports relating
                            to, and in preparation for,
                            future investment opportunities in Sierra Leone.
                        </p>
                        <p class="card-text text-center mb-4">
                            Click on the icon to download a copy of the Data Catalogue
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <p class="lead mt-4 fst-italic px-5">
                    Data are available for review on workstations running industry-standard software including Kingdom
                    and in compliance with these rules.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h3 class="pdsl-blue mb-4">Application Documents</h3>
            </div>
        </div>
        <div class="d-flex flex-wrap">
            <a href="/assets/regulations/1 Pre-Qualification Guidelines For Investors.pdf" target="_blank" class="btn btn-primary flex-fill m-2">1. Pre-Qualification Guidelines For Investors</a>
            <a href="/assets/regulations/2 Guidelines For Investors.pdf" target="_blank" class="btn btn-primary flex-fill m-2">2. Guidelines For Investors</a>
            <a href="/assets/regulations/3 Section A.doc" target="_blank" class="btn btn-primary flex-fill m-2">3. Section A</a>
            <a href="/assets/regulations/4 Section B.doc" target="_blank" class="btn btn-primary flex-fill m-2">4. Section B</a>
            <a href="/assets/regulations/5 Section C.doc" target="_blank" class="btn btn-primary flex-fill m-2">5. Section C</a>
            <a href="/assets/regulations/6 Section D.doc" target="_blank" class="btn btn-primary flex-fill m-2">6. Section D</a>
            <a href="/assets/regulations/7 Negotiation TermSheet.doc" target="_blank" class="btn btn-primary flex-fill m-2">7. Negotiation TermSheet</a>
            <a href="/assets/regulations/8 PEPA 2011.pdf" target="_blank" class="btn btn-primary flex-fill m-2">8. PEPA 2011</a>
            <a href="/assets/regulations/9 Petroleum Policy 2010.pdf" target="_blank" class="btn btn-primary flex-fill m-2">9. Petroleum Policy 2010</a>
            <a href="/assets/regulations/10 EIRA 2018.pdf" target="_blank" class="btn btn-primary flex-fill m-2">10. EIRA 2018</a>
            <a href="/assets/regulations/11 EPA 2008.pdf" target="_blank" class="btn btn-primary flex-fill m-2">11. EPA 2008</a>
            <a href="/assets/regulations/12 Finance Act 2020.pdf" target="_blank" class="btn btn-primary flex-fill m-2">12. Finance Act 2020</a>
            <a href="/assets/regulations/13 Public Finance Management Act 2016.pdf" target="_blank" class="btn btn-primary flex-fill m-2">13. Public Finance Management Act 2016</a>
            <a href="/assets/regulations/14 Data Room Rules.pdf" target="_blank" class="btn btn-primary flex-fill m-2">14. Data Room Rules</a>
            <a href="/assets/regulations/15 Model Petroleum Agreement.pdf" target="_blank" class="btn btn-primary flex-fill m-2">15. Model Petroleum Agreement</a>
            <a href="/assets/regulations/16 Model Reconnaissance Contract.pdf" target="_blank" class="btn btn-primary flex-fill m-2">16. Model Reconnaissance Contract</a>
        </div>
    </div>
</section>