<section class="hero">
    <header class="container">
        <h1 class="pb-2">Regulations</h1>
    </header>
</section>
<section class="pt-5 pb-5 bg-light-background">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1 class="pdsl-blue mb-4">Document Downloads</h1>
            </div>
        </div>
        <div class="row row-cols-auto row-cols-sm-1 row-cols-md-2 row-cols-lg-4 g-4">
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <header class="rounded-top">
                        <a href="/assets/regulations/PEPA-2011-07.pdf" target="_blank" class="stretched-link">
                            <img src="/assets/regulations/download-solid.svg" alt="Download logo">
                        </a>
                    </header>
                    <div class="card-body text-center">
                        <h5 class="card-title pdsl-blue">
                            <strong>
                                The Petroleum (Exploration & Production) Act, 2011
                            </strong>
                        </h5>
                        <p class="card-text m-4">
                            Being an act to provide for the management of petroleum operations, to regulate and promote
                            petroleum exploration, development and
                            production; to regulate the licensing and participation of commercial entities in petroleum
                            operations; to provide for proper
                            supervision of petroleum operations, to promote the participation of Sierra Leone in the
                            petroleum industry.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <header class="rounded-top">
                        <a href="/assets/regulations/Sierra_Leone_Data_Catalogue.pdf" target="_blank"
                            class="stretched-link">
                            <img src="/assets/regulations/download-solid.svg" alt="Download logo">
                        </a>
                    </header>
                    <div class="card-body text-center">
                        <h5 class="card-title pdsl-blue">
                            <strong>
                                Data Catalogue
                            </strong>
                        </h5>
                        <p class="card-text m-4">
                            The Data Catalogue provides details of the released technical data available for potential
                            investors to license. All released data is
                            available, subject to the signing of a Licensing Agreement with the Petroleum Directorate or
                            our partner, Getech Group Plc.
                        </p>
                        <p class="card-text mb-4">
                            Click on the icon to download a copy of the Data Catalogue
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <header class="rounded-top">
                        <a href="/assets/regulations/PDSL-SL-Data-Room-Rules-3-REVISED.pdf" target="_blank"
                            class="stretched-link">
                            <img src="/assets/regulations/download-solid.svg" alt="Download logo">
                        </a>
                    </header>
                    <div class="card-body text-center">
                        <h5 class="card-title pdsl-blue">
                            <strong>
                                The Sierra Leone Data Room Rules
                            </strong>
                        </h5>
                        <p class="card-text m-4">
                            The Petroleum Directorate Sierra Leone (PDSL) will make available via a Data Room technical
                            data packages including
                            well data, seismic data and technical reports relating to, and in preparation for, future
                            investment opportunities
                            in Sierra Leone.
                        </p>
                        <p class="card-text text-center mb-4">
                            Click on the icon to download a copy of the Data Catalogue
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <header class="rounded-top">
                        <a href="/assets/regulations/PDSL-London-Data-Room-Rules-200619.pdf" target="_blank"
                            class="stretched-link">
                            <img src="/assets/regulations/download-solid.svg" alt="Download logo">
                        </a>
                    </header>
                    <div class="card-body">
                        <h5 class="card-title text-center pdsl-blue">
                            <strong>
                                The London PDSL Data Room Rules
                            </strong>
                        </h5>
                        <p class="card-text text-center m-4">
                            Getech Group, on behalf of the Petroleum Directorate Sierra Leone (PDSL), will make
                            available via a London Data Room
                            technical data packages including well data, seismic data, and technical reports relating
                            to, and in preparation for,
                            future investment opportunities in Sierra Leone.
                        </p>
                        <p class="card-text text-center mb-4">
                            Click on the icon to download a copy of the Data Catalogue
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <p class="lead mt-4 fst-italic px-5">
                    Data are available for review on workstations running industry-standard software including Kingdom
                    and in compliance with these rules.
                </p>
            </div>
        </div>
    </div>
</section>
