<section class="hero">
    <header class="container">
        <h1 class="pb-2">Press Releases</h1>
    </header>
</section>
<section class="bg-light pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p>
                    Sort:
                    <button [ngClass]="getSortByDateClass()"
                            (click)="sortByDate()"
                            class="btn btn-sm">by date</button> &nbsp;
                    <button [ngClass]="getSortByTitleClass()"
                            (click)="sortByTitle()"
                            class="btn btn-sm">by title</button>
                </p>
                <hr>
            </div>
        </div>
    </div>
</section>