<section class="hero">
    <header class="container">
        <h1 class="pb-2">Press Releases</h1>
    </header>
</section>
<section class="bg-light pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p>
                    Sort:
                    <button [ngClass]="getSortByDateClass()"
                            (click)="sortByDate()"
                            class="btn btn-sm">by date</button> &nbsp;
                    <button [ngClass]="getSortByTitleClass()"
                            (click)="sortByTitle()"
                            class="btn btn-sm">by title</button>
                </p>
                <hr>
            </div>
            <div class="col-md-8 press-releases">
                <p *ngIf="pressReleases.length == 0"
                   class="text-info fst-italic">
                    No new press releases available. Please check back later.
                </p>
                <div class="card mb-3 shadow-sm"
                     *ngFor="let pressRelease of pressReleases">
                    <div class="row g-0">
                        <div class="col-md-4 p-3">
                            <a [href]="pressRelease.filePath"
                               class="stretched-link"
                               target="_blank">
                                <img [src]="pressRelease.bannerImagePath"
                                     class="img-fluid"
                                     [alt]="pressRelease.title">
                            </a>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{pressRelease.title}}</h5>
                                <p class="card-text"
                                   [innerText]="pressRelease.description"></p>
                                <p class="card-text text-end">
                                    Released on: <small class="text-muted"
                                           [innerText]="pressRelease.releaseDate | date: 'MM/dd/yyyy'"></small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>