.logo {
  width: 45vw;
  height: auto;
}

.nav-link {
  text-transform: uppercase;
  font-family: 'Segoe UI Black', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

@media screen and (min-width: 576px) {
    .logo {
        width: 35vw;
    }
}

@media screen and (min-width: 768px) {
    .logo {
        width: 25vw;
    }
}

@media screen and (min-width: 992px) {
    .logo {
        width: 25vw;
    }

    .nav-link {
        margin-left: 1rem;
    }
}

@media screen and (min-width: 1200px) {
    .logo {
        width: 20vw;
    }

    .nav-link {
        margin-left: 1.5rem;
    }
}

@media screen and (min-width: 1800px) {
    .logo {
        width: 10vw;
    }
}