<footer class="pt-5 pb-5 bg-light-blue">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="location">
                    <h6 class="pb-2">Location</h6>
                   <div>
                        <address>
                            20 Mandalay Street <br>
                            Kingtom <br>
                            Freetown, Sierra Leone
                        </address>
                   </div>
                </div>
                <div class="contacts">
                    <address>
                        Tel: +232 76 41 39 12 <br>
                        <a href="mailto:info@pd.gov.sl">
                            <i class="fas fa-envelope-open-text mt-1"></i>
                        </a>
                    </address>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="office-hours">
                    <h6 class="pb-2">Office Hours</h6>
                    <div>
                        <span class="time">
                            Monday - Friday: 8:00 - 17:00 <br>
                            Saturday: closed <br>
                            Sunday: closed <br>
                        </span>
                    </div>
                </div>
                <div class="press-releases">
                    <span>
                        Press Releases
                    </span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="copyright text-center">
                    <hr>
                    &copy; {{appYear}} - Petroleum Directorate of Sierra Leone | Site designed, developed and maintained by Mutaaja, (SL) Ltd.
                </div>
            </div>
        </div>
    </div>
</footer>