<section class="pt-5 pb-5 bg-light-blue">
    <div class="container">
        <div class="col-lg-12 text-center">
            <h1 class="pdsl-blue mb-4">Media Gallery</h1>
        </div>
    </div>
</section>
<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                <img src="/assets/gallery/pdsl-gallery-26.jpg"
                     class="w-100 rounded mb-4"
                     alt="PDSL Gallery 26" />

                <img src="/assets/gallery/pdsl-gallery-06.jpg"
                     class="w-100 rounded mb-4"
                     alt="PDSL Gallery 06" />
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
                <img src="/assets/gallery/pdsl-gallery-15.jpg"
                     class="w-100 rounded mb-4"
                     alt="PDSL Gallery 15" />

                <img src="/assets/gallery/pdsl-gallery-01.jpg"
                     class="w-100 rounded mb-4"
                     alt="PDSL Gallery 01" />
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
                <img src="/assets/gallery/pdsl-gallery-07.jpg"
                     class="w-100 rounded mb-4"
                     alt="PDSL Gallery 07" />

                <img src="/assets/gallery/pdsl-gallery-03.jpg"
                     class="w-100 rounded mb-4"
                     alt="PDSL Gallery 03" />
            </div>

            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                <img src="/assets/gallery/pdsl-gallery-10.jpg"
                     class="w-100 rounded mb-4"
                     alt="PDSL Gallery 10" />

                <img src="/assets/gallery/pdsl-gallery-08.jpg"
                     class="w-100 rounded mb-4"
                     alt="PDSL Gallery 08" />
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
                <img src="/assets/gallery/pdsl-gallery-05.jpg"
                     class="w-100 rounded mb-4"
                     alt="PDSL Gallery 05" />

                <img src="/assets/gallery/pdsl-gallery-17.jpg"
                     class="w-100 rounded mb-4"
                     alt="PDSL Gallery 17" />
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
                <img src="/assets/gallery/pdsl-gallery-11.jpg"
                     class="w-100 rounded mb-4"
                     alt="PDSL Gallery 11" />

                <img src="/assets/gallery/pdsl-gallery-12.jpg"
                     class="w-100 rounded mb-4"
                     alt="PDSL Gallery 12" />
            </div>

            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                <img src="/assets/gallery/pdsl-gallery-13.jpg"
                     class="w-100 rounded mb-4"
                     alt="Wintry Mountain Landscape" />

                <img src="/assets/gallery/pdsl-gallery-14.jpg"
                     class="w-100 rounded mb-4"
                     alt="PDSL Gallery 14" />
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
                <img src="/assets/gallery/pdsl-gallery-04.jpg"
                     class="w-100 rounded mb-4"
                     alt="PDSL Gallery 04" />

                <img src="/assets/gallery/pdsl-gallery-22.jpg"
                     class="w-100 rounded mb-4"
                     alt="PDSL Gallery 22" />
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
                <img src="/assets/gallery/pdsl-gallery-16.jpg"
                     class="w-100 rounded mb-4"
                     alt="PDSL Gallery 16" />

                <img src="/assets/gallery/pdsl-gallery-02.jpg"
                     class="w-100 rounded mb-4"
                     alt="PDSL Gallery 02" />
            </div>

            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                <img src="/assets/gallery/pdsl-gallery-19.jpg"
                class="w-100 rounded mb-4"
                alt="PDSL Gallery 19" />

                <img src="/assets/gallery/pdsl-gallery-21.jpg"
                class="w-100 rounded mb-4"
                alt="PDSL Gallery 21" />
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
                <img src="/assets/gallery/pdsl-gallery-23.jpg"
                     class="w-100 rounded mb-4"
                     alt="PDSL Gallery 23" />

                <img src="/assets/gallery/pdsl-gallery-09.jpg"
                     class="w-100 rounded mb-4"
                     alt="PDSL Gallery 09" />
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
                <img src="/assets/gallery/pdsl-gallery-24.jpg"
                     class="w-100 rounded mb-4"
                     alt="PDSL Gallery 24" />

                <img src="/assets/gallery/pdsl-gallery-27.jpg"
                     class="w-100 rounded mb-4"
                     alt="PDSL Gallery 27" />
            </div>
        </div>
    </div>
</section>