<section class="hero">
    <header class="container">
        <h1 class="pb-2">Operations</h1>
    </header>
</section>
<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="pdsl-blue">Geographical Overview</h1>
                <p class="lead g-overview">
                    There is one Off-Shore basin in Sierra Leone which is referred to as the Sierra Leone basin. The Sierra Leone basin forms part of 
                    the West African Transform Margin and is made up of complex strike-slip faulting. Basin consist of a continental shelf and a steep 
                    slope (Sulima slope plateau) with rotated fault blocks seen on the slope and gradually stepping down into the deep water basin. The 
                    Sulima slope seen on the northern part of the area is an expression of a series of horsts and grabens formed by wrench tectonics as 
                    the Sierra Leone transform system intersects the African continental mass. The shelf break is characterized by a steep slope with 
                    several submarine canyons which cut deeply into the continental shelf down to the abyssal plain. Series of transform fault systems 
                    exist along the margin but the main transform fault system that affected the basin is right-lateral Sierra Leone transform fault 
                    system which forms a series of an echelon strike-slip and dip-slip faults with associated folds. In the deep-water part further 
                    from the coast, normal faulting during the Atlantic rifting event produced grabens and half-grabens of probably Albian-Aptian age.
                </p>
            </div>
        </div>
    </div>
</section>
