<section class="hero">
    <header class="container">
        <h1 class="pb-2">Operations</h1>
    </header>
</section>
<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1 class="pdsl-blue pb-2">Geographical Overview</h1>
                <p class="lead mt-4 mb-4" [class.mx-10]="canApplyLargeHorizontalMargin()">
                    The
                    Sierra Leone basin forms part of
                    the West African Transform Margin and is made up of complex strike-slip faulting. Basin consist of a
                    continental shelf and a steep
                    slope (Sulima slope plateau) with rotated fault blocks seen on the slope and gradually stepping down
                    into the deep water basin. The
                    Sulima slope seen on the northern part of the area is an expression of a series of horsts and
                    grabens formed by wrench tectonics as
                    the Sierra Leone transform system intersects the African continental mass. The shelf break is
                    characterized by a steep slope with
                    several submarine canyons which cut deeply into the continental shelf down to the abyssal plain.
                    Series of transform fault systems
                    exist along the margin but the main transform fault system that affected the basin is right-lateral
                    Sierra Leone transform fault
                    system which forms a series of an echelon strike-slip and dip-slip faults with associated folds. In
                    the deep-water part further
                    from the coast, normal faulting during the Atlantic rifting event produced grabens and half-grabens
                    of probably Albian-Aptian age.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="pt-5 pb-5 bg-light-blue">
    <div class="container">
        <div class="row row-cols-auto row-cols-sm-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <img src="/assets/operations/operations.jpg" class="card-img-top img-fluid"
                        alt="Oil refinery operations">
                    <div class="card-body text-center">
                        <p class="card-text">
                            Since the timing of the onset of seafloor spreading in the basin is not well-known, a
                            hypothesis has been postulated that this event
                            is initiated during the late Albian, hence the beginning of the passive margin phase.
                            Immediately after the onset of seafloor spreading,
                            there was a marine transgression which reached the inner shelf and slope. Seafloor spreading
                            accelerated probably during the early
                            Cenomanian time causing ocean-ward deepening rotation of rift fault blocks and uninterrupted
                            marine deposition on the new crust in
                            the proto-Atlantic basin.
                        </p>
                        <p class="card-text">
                            During the mid-Cretaceous, significant thicknesses of alluvial, fluvial, and lacustrine
                            sediments were deposited and shallow marine
                            incursions flooded the more subsided parts of the rifted terrain in the mid-Albian time.
                            Also, thick sediments occur beneath the
                            continental slope where they are disrupted by faults and gravity slides which are
                            particularly common near the Guinea and Sierra
                            Leone fracture zones. Slumps and canyons are also observed on seismic data occurring mostly
                            on the continental slope.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <img src="/assets/operations/oil-exploration.jpg" class="card-img-top img-fluid"
                        alt="Oil exploration rig">
                    <div class="card-body text-center">
                        <p class="card-text">
                            The structural architecture of the basin is described in three phases namely the pre-rift,
                            rift, and post-rift (passive margin phase).
                            The pre-rift phase mainly encompassed the faulting of the pre-rift strata throughout the
                            Palaeozoic to Jurassic times with associated
                            volcanic activities.
                        </p>
                        <p class="card-text">
                            The rift phase started in late Jurassic/early Cretaceous time, coincident with the tectonic
                            subsidence of the stretched continental crust,
                            caused by the upwelling of the asthenosphere. Extensional faulting is associated with
                            extrusive igneous activity and continental
                            siliciclastic deposition took place in the graben. This Phase was active from Aptian to
                            Turonian with fluvial/lacustrine conditions
                            trending to shallow marine as Africa was finally separated from South America.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <p class="lead" [class.mx-10]="canApplyLargeHorizontalMargin()">
                    Sub-aqueous and sub-aerial erosion took place on the shelf and slope in the mid- Cretaceous time and
                    is evident on seismic
                    data by the occurrence of a regional unconformity which persisted as a surface of erosion until the
                    Santonian time. The
                    progression of seafloor spreading introduced a late Cretaceous transgression which advanced
                    shoreward over the mid-Cretaceous
                    erosional surface. The marine deposition was continuous ocean-ward from late Albian to the end of
                    Cretaceous time. Onlap of
                    marine siliciclastic and some carbonate deposits are seen on the mid-Cretaceous unconformity. The
                    hydrocarbon potential of
                    the basin was known when the Venus B-1 discovery well was drilled. Series of other discovery wells
                    confirmed that there is
                    an established petroleum system within the basin.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="pt-5 pb-5 bg-light-blue">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1 class="pdsl-blue mb-4 pb-2">Seismic Data</h1>
                <p class="lead mb-4" [class.mx-10]="canApplyLargeHorizontalMargin()">
                    Sierra Leone has an extensive and high-quality seismic database that is available to license from
                    the Petroleum Directorate.
                    This includes recent 2D and 3D seismic data, with tens of thousands of square kilometers of 3D over
                    and in the vicinity of
                    the four undeveloped discoveries offshore Sierra Leone. The data sets include the Mabesi 3D PSDM
                    reprocessed by ION/ Anadarko
                    in 2009/2010 which is available to license for the first time.
                </p>
                <a class="btn btn-secondary" href="/assets/operations/A3Ls_PDSL_3DSeismic-Well-Data-July-2017.jpg" target="_blank">
                    PDSL 3D Seismic and Well Data July 2017
                </a>
                <p class="lead m-4">
                    For more information on available seismic data please contact:
                </p>
            </div>
        </div>
        <div class="row row-cols-auto row-cols-sm-1 row-cols-md-2 g-4" [ngClass]="getLargeThumbnailMarginClass()">
            <div class="col">
                <div class="card mb-2 shadow-sm">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/assets/operations/hot-square.jpg" class="img-fluid rounded-start"
                                alt="Head of Technical; Mr. Ahmad Tejan Bah">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body thumbnail-card-body" [ngClass]="getCardBodyClasses()">
                                <span>Ahmed Tejan Bah</span> <br>
                                <strong>Head of Technical</strong> <br>
                                <a href="mailto:ahmad.bah@pd.gov.sl" class="stretched-link">
                                    <i class="fas fa-envelope-open-text mt-1"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mx-auto">
                <div class="card mb-2 shadow-sm">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/assets/operations/mrs-bah-square.jpg" class="img-fluid rounded-start"
                                alt="Sr. Petroleum Geologist; Ms. Masa Bah">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body thumbnail-card-body" [ngClass]="getCardBodyClasses()">
                                <span>Masa Bah</span> <br>
                                <strong>Senior Geologist</strong> <br>
                                <a href="mailto:masa.bah@pd.gov.sl" class="stretched-link">
                                    <i class="fas fa-envelope-open-text mt-1"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <h3 class="pdsl-blue m-4">Available Data Description</h3>
                <div class="table-responsive shadow-sm" [ngClass]="getHorizontalTableMarginClasses()">
                    <table class="table align-middle table-sm table-striped">
                        <thead class="thead-primary">
                            <tr>
                                <th>Survey Name</th>
                                <th>Data Type</th>
                                <th>Data Volume</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Lukoil Reprocessed 3D Data</td>
                                <td>3D</td>
                                <td>1000 sq kms</td>
                            </tr>
                            <tr>
                                <td>Repsol 2004 PSTM</td>
                                <td>3D</td>
                                <td>Circa 4150 sq kms</td>
                            </tr>
                            <tr>
                                <td>Anadarko 2009 3D Survey (PSDM)</td>
                                <td>3D</td>
                                <td>Circa 4150 sq kms</td>
                            </tr>
                            <tr>
                                <td>Sierra Leone 3D (Blocks 3; 4 and 5). 2008-2011</td>
                                <td>3D</td>
                                <td>Circa 4060 sq kms</td>
                            </tr>
                            <tr>
                                <td>Sierra Leone 3D (Blocks 4 and 5). 2008-2014</td>
                                <td>3D</td>
                                <td>Circa 2646 sq kms</td>
                            </tr>
                            <tr>
                                <td>Sierra Leone 3D (Blocks 3; 4 and 5 Extension). 2008-2014</td>
                                <td>3D</td>
                                <td>Circa 5077 sq kms</td>
                            </tr>
                            <tr>
                                <td>Sierra Leone Mega-Merge (Fusion)</td>
                                <td>3D</td>
                                <td>Circa 6121 sq kms</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1 class="pdsl-blue mb-4 p-2">Well Data</h1>
                <p class="lead" [class.mx-10]="canApplyLargeHorizontalMargin()">
                    Data for all the six (6) recent wells and the two wells drilled along the margin in the 1980s have
                    been released by Petroleum Directorate.
                    The PD in association with ERCL has created a digital well database, which is summarized on a
                    spreadsheet on the PD website. All data is
                    available to review at the PDSL data room in Freetown.
                </p>
                <p class="lead" [class.mx-10]="canApplyLargeHorizontalMargin()">
                    The 2009- 2013 well data are available to license for the first time along with the Mabesi 3D PDSM
                    seismic dataset, which covers three of
                    the recent deepwater discoveries by Anadarko.
                </p>
                <p class="lead mt-4">
                    For more information on available seismic data please contact:
                </p>
            </div>
        </div>
        <div class="row row-cols-auto row-cols-sm-1 row-cols-md-2 g-4" [ngClass]="getLargeThumbnailMarginClass()">
            <div class="col">
                <div class="card mb-2 shadow-sm">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/assets/operations/hot-square.jpg" class="img-fluid rounded-start"
                                alt="Head of Technical; Mr. Ahmad Tejan Bah">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body thumbnail-card-body" [ngClass]="getCardBodyClasses()">
                                <span>Ahmed Tejan Bah</span> <br>
                                <strong>Head of Technical</strong> <br>
                                <a href="mailto:ahmad.bah@pd.gov.sl" class="stretched-link">
                                    <i class="fas fa-envelope-open-text mt-1"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mx-auto">
                <div class="card mb-2 shadow-sm">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/assets/operations/mrs-bah-square.jpg" class="img-fluid rounded-start"
                                alt="Sr. Petroleum Geologist; Ms. Masa Bah">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body thumbnail-card-body" [ngClass]="getCardBodyClasses()">
                                <span>Masa Bah</span> <br>
                                <strong>Senior Geologist</strong> <br>
                                <a href="mailto:masa.bah@pd.gov.sl" class="stretched-link">
                                    <i class="fas fa-envelope-open-text mt-1"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <h3 class="pdsl-blue m-4">Available Data Description</h3>
                <div class="table-responsive shadow-sm" [ngClass]="getHorizontalTableMarginClasses()">
                    <table class="table align-middle table-sm table-striped">
                        <thead class="thead-primary">
                            <tr>
                                <th>Name</th>
                                <th>Year</th>
                                <th>Operator</th>
                                <th>Well Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>A-1</td>
                                <td>1982</td>
                                <td>Mobil</td>
                                <td>Oil Shows</td>
                            </tr>
                            <tr>
                                <td>A-1</td>
                                <td>1985</td>
                                <td>Amoco</td>
                                <td>Oil Shows</td>
                            </tr>
                            <tr>
                                <td>Venus B-1</td>
                                <td>2009</td>
                                <td>Anadarko</td>
                                <td>Discovery</td>
                            </tr>
                            <tr>
                                <td>Mercury-1</td>
                                <td>2010</td>
                                <td>Anadarko</td>
                                <td>Discovery</td>
                            </tr>
                            <tr>
                                <td>Mercury-2</td>
                                <td>2012</td>
                                <td>Anadarko</td>
                                <td>Appraisal</td>
                            </tr>
                            <tr>
                                <td>Jupiter-1</td>
                                <td>2012</td>
                                <td>Anadarko</td>
                                <td>Discovery</td>
                            </tr>
                            <tr>
                                <td>Djembe-1</td>
                                <td>2012</td>
                                <td>Talisman</td>
                                <td>Water wet</td>
                            </tr>
                            <tr>
                                <td>Savannah-1X</td>
                                <td>2013</td>
                                <td>Lukoil</td>
                                <td>Discovery</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>