/* Hero Started */

.hero {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 26vw;
    background-image: url(/assets/operations/seaside-refinery-wide.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

.hero header {
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
}

.hero header h1 {
    font-size: 1rem;
    color: #e1f5fe;
    border-bottom: solid 0.2125rem #e1f5fe;
}

@media screen and (min-width: 768px) {
    .hero header h1 {
        font-size: 2rem;
        border-bottom: solid 0.3125rem #e1f5fe;
    }
}

@media screen and (min-width: 992px) {
    .hero header h1 {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 1200px) {
    .hero header {
        padding: 1rem 0;
        text-align: left;
    }
}

@media screen and (min-width: 1600px) {
    .hero header h1 {
        font-size: 3.5rem;        
        border-bottom: solid 0.5rem #e1f5fe;
    }
}

/* Hero End */

/* Geographical Overview Start */

h1 {
    font-size: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: solid 0.2125rem #01579b;
}

.g-overview {
    margin: 0.9375rem;
}


@media screen and (min-width: 768px) {
    h1 {
        font-size: 2rem;
        border-bottom: solid 0.3125rem #01579b;
        padding-bottom: 1rem;
    }

    .g-overview {
        margin: 1.5rem;
    }
    
}

@media screen and (min-width: 1600px) {
    .g-overview {
        margin: 2rem 4rem;
    }
}

/* Geographical Overview End*/
