<section class="hero">
    <header class="container">
        <h1 class="pb-2">Operations</h1>
    </header>
</section>
<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="pdsl-blue">Geographical Overview</h1>
                <p class="lead g-overview">
                    There is one Off-Shore basin in Sierra Leone which is referred to as the Sierra Leone basin. The
                    Sierra Leone basin forms part of
                    the West African Transform Margin and is made up of complex strike-slip faulting. Basin consist of a
                    continental shelf and a steep
                    slope (Sulima slope plateau) with rotated fault blocks seen on the slope and gradually stepping down
                    into the deep water basin. The
                    Sulima slope seen on the northern part of the area is an expression of a series of horsts and
                    grabens formed by wrench tectonics as
                    the Sierra Leone transform system intersects the African continental mass. The shelf break is
                    characterized by a steep slope with
                    several submarine canyons which cut deeply into the continental shelf down to the abyssal plain.
                    Series of transform fault systems
                    exist along the margin but the main transform fault system that affected the basin is right-lateral
                    Sierra Leone transform fault
                    system which forms a series of an echelon strike-slip and dip-slip faults with associated folds. In
                    the deep-water part further
                    from the coast, normal faulting during the Atlantic rifting event produced grabens and half-grabens
                    of probably Albian-Aptian age.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="pt-5 pb-5 bg-light-blue">
    <div class="container">
        <div class="row row-cols-auto row-cols-sm-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card">
                    <img src="/assets/operations/operations.jpg" class="card-img-top img-fluid" alt="Oil refinery operations">
                    <div class="card-body">
                        <p class="card-text text-center">
                            Since the timing of the onset of seafloor spreading in the basin is not well-known, a hypothesis has been postulated that this event 
                            is initiated during the late Albian, hence the beginning of the passive margin phase. Immediately after the onset of seafloor spreading, 
                            there was a marine transgression which reached the inner shelf and slope. Seafloor spreading accelerated probably during the early 
                            Cenomanian time causing ocean-ward deepening rotation of rift fault blocks and uninterrupted marine deposition on the new crust in 
                            the proto-Atlantic basin.
                        </p>
                        <p class="card-text text-center">
                            During the mid-Cretaceous, significant thicknesses of alluvial, fluvial, and lacustrine sediments were deposited and shallow marine 
                            incursions flooded the more subsided parts of the rifted terrain in the mid-Albian time. Also, thick sediments occur beneath the 
                            continental slope where they are disrupted by faults and gravity slides which are particularly common near the Guinea and Sierra 
                            Leone fracture zones. Slumps and canyons are also observed on seismic data occurring mostly on the continental slope.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="/assets/operations/oil-exploration.jpg" class="card-img-top img-fluid" alt="Oil exploration rig">
                    <div class="card-body">
                        <p class="card-text text-center">
                            The structural architecture of the basin is described in three phases namely the pre-rift, rift, and post-rift (passive margin phase). 
                            The pre-rift phase mainly encompassed the faulting of the pre-rift strata throughout the Palaeozoic to Jurassic times with associated 
                            volcanic activities.
                        </p>
                        <p class="card-text text-center">
                            The rift phase started in late Jurassic/early Cretaceous time, coincident with the tectonic subsidence of the stretched continental crust, 
                            caused by the upwelling of the asthenosphere. Extensional faulting is associated with extrusive igneous activity and continental 
                            siliciclastic deposition took place in the graben. This Phase was active from Aptian to Turonian with fluvial/lacustrine conditions 
                            trending to shallow marine as Africa was finally separated from South America.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>