/* Hero Started */

.hero {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 26vw;
    background-image: url(/assets/operations/seaside-refinery-wide.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

.hero header {
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
}

.hero header h1 {
    font-size: 1.5rem;
    color: #e1f5fe;
    border-bottom: solid 0.2125rem #e1f5fe;
}

@media screen and (min-width: 768px) {
    .hero header h1 {
        font-size: 2rem;
        border-bottom: solid 0.3125rem #e1f5fe;
    }
}

@media screen and (min-width: 992px) {
    .hero header h1 {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 1200px) {
    .hero header {
        padding: 1rem 0;
    }
}

@media screen and (min-width: 1600px) {
    .hero header h1 {
        font-size: 3.5rem;        
        border-bottom: solid 0.5rem #e1f5fe;
    }
}

.thead-primary {
    background-color: #01579b !important;
    color: #fff;
    border-bottom: none;
}

.table > :not(:first-child) {
    border-top: solid 0.125rem #01579b;
}

h1 {
    font-size: 1.5rem;
    border-bottom: solid 0.2125rem #01579b;
}

h3 {
    display: inline-block;
    font-size: 1rem;
    border-bottom: solid 0.2125rem #01579b;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 2rem;
        border-bottom: solid 0.3125rem #01579b;
    }

    h3 {
        display: inline-block;
        font-size: 1.5rem;
        border-bottom: solid 0.2325rem #01579b;
    }
}

.card {
    box-shadow: 0.1875rem 0.1875rem 0.375rem #bbb;
}

.btn {
    box-shadow: 0.1875rem 0.1875rem 0.375rem #bbb;
}

.fa-envelope-open-text {
    font-size: 1.5rem;
}

.table-responsive {
    box-shadow: 0.1875rem 0.1875rem 0.375rem #bbb;
}

.mx-10 {
    margin-left: 6rem !important;
    margin-right: 6rem !important;
}

.mx-20 {
    margin-left: 12rem !important;
    margin-right: 12rem !important;
}

@media screen and (min-width: 992px) {
    .thumbnail-card-body {
        padding-top: 2rem;
    }
}

@media screen and (min-width: 1200px) {
    .thumbnail-card-body {
        padding-top: 1rem;
    }
}


@media screen and (min-width: 1400px) {
    .thumbnail-card-body {
        padding-top: 2rem;
    }
}