<section class="hero">
    <header class="container">
        <h1 class="pb-2">About Us</h1>
    </header>
</section>
<section class="bg-light pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1 class="pdsl-blue mb-4">Who we are</h1>
                <p class="lead" [class.mx-10]="canApplyLargeHorizontalMargin()">
                    The Petroleum Directorate of Sierra Leone is a governmental regulatory and administrative body.
                    Established in 2003,
                    the Petroleum Directorate is responsible for the general management and monitoring of the petroleum
                    resources of
                    Sierra Leone.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="pt-5 pb-5 bg-light-blue">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1 class="pdsl-blue mb-4">Our Leadership</h1>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center flex-wrap">
            <div class="text-center">
                <img class="rounded-circle dg-thumbnail mb-2" src="/assets/about/dg-bio.jpg"
                    alt="Foday Mansaray">
                <div>
                    <a class="dg-name fw-bold pdsl-blue" [routerLink]="['/about', 1]" title="View Profile">
                        Foday Mansaray
                    </a>
                    <span class="dg-hyphen">&nbsp;-&nbsp;</span>
                    <span class="dg-title pdsl-blue mb-4">
                        Director General
                    </span>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center flex-wrap">
            <div class="text-center m-4">
                <img class="rounded-circle staff-thumbnail" src="/assets/about/zainu-dean-karim.jpg"
                    alt="Zainu Dean Karim">
                <div class="mt-2">
                    <a class="fw-bold pdsl-blue staff-name" [routerLink]="['/about', 2]" title="View Profile">
                        Zainu Dean Karim
                    </a>
                </div>
                <div>
                    <span class="pdsl-blue mb-4 staff-title">
                        Director of Finance
                    </span>
                </div>
            </div>
            <div class="text-center m-4">
                <img class="rounded-circle staff-thumbnail" src="/assets/about/sabieu-sahid-conteh.jpg"
                    alt="Sabieu Sahid Conteh">
                <div class="mt-2">
                    <a class="fw-bold pdsl-blue staff-name" [routerLink]="['/about', 3]" title="View Profile">
                        Sabieu Sahid Conteh
                    </a>
                </div>
                <div>
                    <span class="pdsl-blue mb-4 staff-title">
                        Sr. Accounting Manager
                    </span>
                </div>
            </div>
            <div class="text-center m-4">
                <img class="rounded-circle staff-thumbnail" src="/assets/about/ahmed-tejan-bah.jpg"
                    alt="Ahmed Tejan Bah">
                <div class="mt-2">
                    <a class="fw-bold pdsl-blue staff-name" [routerLink]="['/about', 4]" title="View Profile">
                        Ahmed Tejan Bah
                    </a>
                </div>
                <div>
                    <span class="pdsl-blue mb-4 staff-title">
                        Head of Technical
                    </span>
                </div>
            </div>
            <div class="text-center m-4">
                <img class="rounded-circle staff-thumbnail" src="/assets/about/amadu-mansaray.jpg"
                    alt="Amadu Mansaray">
                <div class="mt-2">
                    <a class="fw-bold pdsl-blue staff-name" [routerLink]="['/about', 5]" title="View Profile">
                        Amadu Mansaray
                    </a>
                </div>
                <div>
                    <span class="pdsl-blue mb-4 staff-title">
                        Sr. Administrative Manager
                    </span>
                </div>
            </div>
            <div class="text-center m-4">
                <img class="rounded-circle staff-thumbnail" src="/assets/about/musa-aziz-yokie.jpg"
                    alt="Musa Aziz Yokie">
                <div class="mt-2">
                    <a class="fw-bold pdsl-blue staff-name" [routerLink]="['/about', 6]" title="View Profile">
                        Musa Aziz Yokie
                    </a>
                </div>
                <div>
                    <span class="pdsl-blue staff-title">
                        Head of ICT
                    </span>
                </div>
            </div>
            <div class="text-center m-4">
                <img class="rounded-circle staff-thumbnail" src="/assets/about/masm.png"
                    alt="Mohamed A. S. Mustapha">
                <div class="mt-2">
                    <a class="fw-bold pdsl-blue staff-name" [routerLink]="['/about', 7]" title="View Profile">
                        Mohamed A. S. Mustapha
                    </a>
                </div>
                <div>
                    <span class="pdsl-blue mb-4 staff-title">
                        Head, Procurement & Logistics
                    </span>
                </div>
            </div>
            <div class="text-center m-4">
                <img class="rounded-circle staff-thumbnail" src="/assets/about/micheala-Swallow.jpg"
                    alt="Eddinia Michaela Swallow">
                <div class="mt-2">
                    <a class="fw-bold pdsl-blue staff-name" [routerLink]="['/about', 8]" title="View Profile">
                        Eddinia Michaela Swallow
                    </a>
                </div>
                <div>
                    <span class="pdsl-blue mb-4 staff-title">
                        Senior Legal Counsel
                    </span>
                </div>
            </div>
            <div class="text-center m-4">
                <img class="rounded-circle staff-thumbnail" src="/assets/about/masa-bah.jpg"
                    alt="Masa Bah">
                <div class="mt-2">
                    <a class="fw-bold pdsl-blue staff-name" [routerLink]="['/about', 9]" title="View Profile">
                        Masa Bah
                    </a>
                </div>
                <div>
                    <span class="pdsl-blue mb-4 staff-title">
                        Sr. Petroleum Geologist
                    </span>
                </div>
            </div>
            <div class="text-center m-4">
                <img class="rounded-circle staff-thumbnail" src="/assets/about/mustapha-koroma.jpg"
                    alt="Mustapha Koroma">
                <div class="mt-2">
                    <a class="fw-bold pdsl-blue staff-name" [routerLink]="['/about', 10]" title="View Profile">
                        Mustapha Koroma
                    </a>
                </div>
                <div>
                    <span class="pdsl-blue mb-4 staff-title">
                        Sr. Petroleum Geophysicist
                    </span>
                </div>
            </div>
            <div class="text-center m-4">
                <img class="rounded-circle staff-thumbnail" src="/assets/about/davidalpha-kawa.jpg"
                    alt="David Alpha Kawa">
                <div class="mt-2">
                    <a class="fw-bold pdsl-blue staff-name" [routerLink]="['/about', 11]" title="View Profile">
                        David Alpha Kawa
                    </a>
                </div>
                <div>
                    <span class="pdsl-blue mb-4 staff-title">
                        Compliance Manager
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-light pt-5 pb-5"></section>