<section class="hero">
    <header class="container">
        <h1 class="pb-2">About Us</h1>
    </header>
</section>
<section class="bg-light pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1 class="pdsl-blue mb-4">Who we are</h1>
                <p class="lead" [class.mx-10]="canApplyLargeHorizontalMargin()">
                    The Petroleum Directorate of Sierra Leone is a governmental regulatory and administrative body. Established in 2003, 
                    the Petroleum Directorate is responsible for the general management and monitoring of the petroleum resources of 
                    Sierra Leone.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="pt-5 pb-5 bg-light-blue">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1 class="pdsl-blue mb-4">Our Leadership</h1>
                
            </div>
        </div>
        <div>
            
        </div>
    </div>
</section>
<section class="bg-light pt-5 pb-5"></section>